body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  padding: 10px 20px;
  background-color: #ce403a;
}

.pokemoncard {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  border-radius: 5px;
}
.pokemoncard:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.pokemoncard-image {
  border-radius: 5px 5px 0 0;
}
.pokemoncard-content {
  padding: 8px 16px;
}

.pokemoncard .fav {
  float: left;
  padding: 8px;
  color: #363636;
}
.pokemoncard .fav.selected {
  color: #ce403a;
}

.pokedex-entry {
  animation: zoomIn 200ms;
}

.pokemon-image.animate,
.pokemon-info {
  animation: fadeInUp 400ms;
}

.egg-loader {
  animation: rubberBand 2200ms infinite;
  margin: 100px auto;
  position: absolute;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  left: 50%;
  top: 30vh;
}

.footer {
  margin-top: 100px;
  padding-bottom: 3rem;
}
.footer .love {
  color: #ce403a;
  display: inline-flex;
  vertical-align: middle;
}
